@model Exam1gpi.Models.product

@{ ViewBag.Title = "Product";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

@{ //obtengo el nivel del usuario logueado
    string nivel = @Session["nivel"].ToString();
    string nombre = @Session["nombre"].ToString(); }

<pre>
Sesion iniciada | usuario: @Session["usuario"] (@nivel) | nombre: @nombre @Html.ActionLink("Cerrar sesion", "CerrarSesion", "Home")
</pre>
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h3 class="text-primary">Definir concentrado</h3>
            @using (Html.BeginForm("Product", "Product", FormMethod.Post, htmlAttributes: new { id = "form" }))
            {

                //@Html.ValidationSummary("", new { @class = "text-danger" })
@Html.HiddenFor(x => x.codProduct, new { id = "codProduct", Value = '0' })


                @Html.LabelFor(x => x.nameProduct, htmlAttributes: new { @class = "label label-info" }) //@Html.ValidationMessageFor(model => model.nameProduct)
                @Html.TextBoxFor(x => x.nameProduct, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessage("nameProduct", new { @class = "text-danger" }) <br>
                                                <input type="submit" id="btnSave" value="Guardar" name="boton" class="btn btn-primary" onclick="confirmAlert();" />
                                                                <input type="submit" id="btnUpdate" value="Modificar" name="boton" class="btn btn-success" onclick="confirmAlert();" />
                                                                                <input type="submit" id="btnDelete" value="Eliminar" name="boton" class="btn btn-danger" onclick="confirmAlert();" />
                                                                                                <a href="javascript:resetForm()" value="Reset" id="btnReset" name="btnReset" class="bottom btn btn-warning">Reset</a>            }
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h3>Productos </h3>
            <div id="resultProductos">
                <table class="table">
                    <thead>
                        <tr>
                            <th>codigo</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ foreach (Exam1gpi.Models.product item in ViewBag.dataP)
                                        {
                            <tr>
                                <td>@item.codProduct</td>
                                <td>@item.nameProduct</td>
                                <td>
                                    <a href="javascript:cargar('@item.codProduct','@item.nameProduct', 'del')">Eliminar</a>
                                    <a href="javascript:cargar('@item.codProduct','@item.nameProduct', 'upd')">Actualizar</a>
                                </td>
                            </tr> } }
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>

<script>
    function confirmAlert() {
        var r = confirm("¿Desea continuar con la operación?");

        if (r == false) {
            event.preventDefault();
        }
    }

    function cargar(cod, nombre, opcion) {
        document.getElementById("codProduct").value = cod;
        //document.getElementById("cod_cliente").setAttribute("readonly", "true");
        document.getElementById("nameProduct").value = nombre;

        if (opcion == "del") {
            $("#btnSave").hide();
            $("#btnUpdate").hide();
            $("#btnDelete").show();
        } else if (opcion == "upd") {
            $("#btnSave").hide();
            $("#btnUpdate").show();
            $("#btnDelete").hide();
        }
    }

    function resetForm() {
        onloadPage();
        document.getElementById("codProduct").value = "0";
        document.getElementById("nameProduct").value = "";
    }


    window.onload = onloadPage();
    function onloadPage() {
        $("#btnSave").show();
        $("#btnUpdate").hide();
        $("#btnDelete").hide();
    }



</script>

